body{
    background-image: url("cloud.JPG");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}
body:before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url("cloud.JPG");
    background-size: cover;
}
*{
    color: aliceblue;
    text-align: center
}
li{
    display: inline;
}