body{
    background-image: url("cloud.JPG");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}
h{color: aliceblue}